.reviews-container {
    height: 100%;
    background-image: linear-gradient(130deg, #4e8c91 10%, #53b669 90%);
    display: flex;
    flex-direction: column;    
}

.reviews-page-outside-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.landing-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100vh;
}

.landing-view-header {
    width: 40%;
    /* height: 100px; */
    font-size: 6rem;
}